* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navigation */
nav {
    width: 100%;
    background-color: black;
    text-align: center;
    padding: 0 15px;
}

nav ul {
    display: inline-block;
}

nav ul li {
    display: inline-block;
    color: aliceblue;
    font-size: 30px;
    padding: 4px 15px;
    border-right: 2px solid white;
}

nav ul li:last-child {
    border-right: none;
}

/* Hero Section */
.hero-section {
    width: 100%;
    height: 90vh;
    background-image: url(bg.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-section::before {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.45);

}

.hero-box {
    width: 600px;
    height: 300px;
    position: absolute;
    color: rgb(255, 255, 255);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: none;
    font-size: 20px;

}

.btn-group button {
    height: auto;
    border: 1px solid;
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding: 5px 15px;
    border-radius: 10px;
    background-color: rgb(0, 187, 239);
}

.btn-group button:hover {
    background-color: rgb(85, 255, 0);
}